@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   font-family: 'Fira Code', monospace;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

path, circle {
   transition: fill 0.15s ease;
}
svg {
   transition: filter 0.2s ease;
}

html {
   scroll-behavior: smooth;
   scroll-padding-top: 4rem;
   @apply max-[370px]:text-[12px];
   @apply max-[280px]:text-[10px];
}
